name: Python Linter

# Déclencheurs : Pushes et Pull Requests sur la branche main 
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    # Étape 1 : Récupérer le code du dépôt
    - uses: actions/checkout@v3

    # Étape 2 : Installer Python
    - name: Set up Python 3.9
      uses: actions/setup-python@v4
      with:
        python-version: "3.9"

    # Étape 3 : Installer les dépendances de linter
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8

    # Étape 4 : Exécuter le linter (flake8)
    - name: Lint with flake8
      run: |
        
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics

        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
        